<div class="ui container">
<div class="column top" ></div>
<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
  CoinMarket
</h4>

<div class="ui grid blue segment">
	<!-- <div class="column"></div> -->
	<div class="ui compact table">
			<table id="marketTable" width="100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>NAME</th>
						<th>SYMBOL</th>
						<th>RANK</th>
						<th>PRICE_USD</th>
					</tr>

				</thead>
				<tbody id="marketTblBody">

				</tbody>
			</table>
		</div>
	</div>
</div>